@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');


* {

	box-sizing: border-box;
	
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    margin: 0;

    text-decoration: none;
    color: black;
    
    outline: none;
}

main { margin: 50px 0 }
button, 
input[type="button"], input[type="submit"], input[type="text"], input[type="email"], input[type="password"]  {
    width: 155px;
    height: 40px;
    background-color: transparent;
    border: solid #707070 1px;
	padding: 0 8px;
}
button:hover{ cursor: pointer; }

dt, dd { display: inline-block; }
dt { font-weight: bold; }
li { list-style: none; }

textarea { 
	resize: none;
	padding: 16px;
}



.gage { 
    width: 186px;
    height: 22px;
    border: solid 1px #707070;
}
      
.company-info-head, .recruit-info-head, .join-company-info-head {
    width: 90px;
    margin-bottom: 16px;
    font-weight: bold;
}

.company-review-rating-head { width: 190px; }


#wrap {
    width: 1200px;
    margin: 0 auto;
}

#warp-header {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    background-color: #F5F5F5;
}
#warp-header-container {
    width: 100%;
    height: 40px;
    display: flex;
}

#warp-main { margin: 30px 0; }
#main-search-container {
    height: 60px;
    border: solid black 1px;
}

#warp-footer{ background-color: #F5F5F5; }

 #search-history {
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;  
}

.item:hover { cursor: pointer; }

#input-clear { cursor: pointer; }

.search-result-item {
	display: flex; 
	align-items: center; 
	height: 170px; 
	margin-bottom: 10px;
	border: solid black 1px;
}

.search-filter {
	width: 130px; 
	height: 40px;
	display: flex;
	align-items: center; 
	justify-content: center; 
	padding: 0 8px; 
	margin-right: 16px; 
	border: solid 1px black;
}

#main_company
{
	width : 1200px;
	height : auto;
	margin : 0 auto;
	text-align : center;
	
}
#container_company
{
	height : 500px;
}
#side_menu_company
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width : 200px;
	height : 300px;	
}

#contents_company
{
	width : 800px;
	height : auto;
	margin : 0 auto;
	padding : 10px;
	text-align : left;
	
	display : block;
}
#side_menu_profile_image { text-align : center; }
.material-icons-outlined { font-size: 80px; }
#contents_item_head_company
{
	
	font-size : 20px;
	font-weight: 600;
	line-height : 20px;
	margin : 10px 0px;
}
.contents_item_mid_company1
{
	font-weight: 600; 
	width :100px; 
	
	margin : 10px 0px;
}
.contents_item_mid_company2
{
	width : 400px; 
	
	margin : 10px 0px;
}
.contents_item_mid_company3 { margin : 10px 0px; }
.contents_item_mid_company4
{
	font-weight : 600; 
	width :100px; 
		
	clear:both;
	margin : 10px 0px;
}
#content_foot2_company
{
	width : 300px;
	height : 68px;
	padding : 10px;
	text-align : left;
}

.password_contents_company_item_head
{
	font-size : 20px;
	font-weight: 600;
	line-height : 20px;
}
.password
{
	font-weight: 600;
	margin : 20px 0px;
}
.new_password
{
	font-weight: 600;
	margin : 20px 0px;
}
.passwordok
{
	font-weight: 600;
	margin : 20px 0px;
}
.password_content_foot1 { margin : 20px 0px; }

#recruitment_contents_message
{
	width : 300px;
	height : auto;
	margin : 20px 0px;

}
#recruitment_contents_title
{
	display : inline-block;
}
.recruitment_contents_notice
{
	width : 800px;
	height : auto;
	margin : 5px auto;
	padding : 10px;
	text-align : left;
}

#but { background-color : rgba(0,0,0,0); }
#write_contents_item_head_company
{
	
	font-size : 20px;
	font-weight: 600;
	line-height : 20px;
}
#write_contents_notice_company
{
	width : 800px;
	height : auto;
	margin : 10px auto;
	padding : 10px;
	text-align : left;
}
.write_contents_notice_company1
{
	font-weight: 600; 
	width : 150px; 
	height : 30px; 
	float:left; 
	margin : 10px 0px;
}
.write_contents_notice_company2
{
	width : 200px; 
	height : 30px; 
	margin : 10px 0px;
}
.buttons
{
	width :200px; 
	height : 30px; 
	float : right; 
	margin :10px 10px;
}

.side_menu_profile_image_S { text-align : center; }
.material-icons-outlined { font-size: 80px; }
.contents_text
{
	font-weight: 600;
	margin : 10px 0px;
}

.contents_item_mid1_S { display: inline-block; }
.contents_item_mid2_S { display : inline-block; }

.contents_item_mid4_S
{
	width : 300px;
	height : 68px;
	text-align : left;
}
.content_foot1_S
{
	width : 300px;
	height : 68px;

	margin : 20px 0px;
	text-align : left;
	
	clear:both; 
}
.content_foot2_S
{
	width : 300px;
	height : 68px;

	margin : 20px 0px;
	text-align : left;
	
}
#review_contents_message
{
	width : 300px;
	height : auto;
	margin : 20px 0px;

}
#review_contents_title { display : inline-block; }
.review_contents_notice
{
	width : 800px;
	height : auto;
	margin : 5px auto;
	padding : 10px;
	text-align : left;
}
#write_contents_item_head
{
	font-size : 20px;
	font-weight: 600;
	line-height : 20px;
}
#write_contents_message
{
	width : 350px;
	height : auto;
	margin : 20px 0px;
}

#company_contents_image1
{
  width : 100px;
  height : auto;
  text-align : left;
  display: inline-block;
}
#company_contents_image2
{
  width : 100px;
  height : auto;
  text-align : left;
  display: inline-block;
  clear:both; 
}

#company_contents_text_item1
{
  font-weight: 600;
  margin : 10px 0px;
}
#company_contents_text_item2 { font-size : 6px; }
#company_contents_text_item3
{
  width : 200px;
  text-align : left;
  display: inline-block;
}

.policy_upper_wrap > span
{
    display: inline-block;
    width: 220px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid black;
}		
    
.policy_upper_wrap { text-align: center; }

.policy_contents_wrap ul li { margin: 20px 0px; }

.question_row
{
    height: 50px;
    line-height: 50px;
}

.notice_top_row
{
    height: 70px;
    line-height: 70px;
}

.notice_td_row
{
    height: 50px;
    line-height: 50px;
}

.notice_note_row { width:900px; }
.notice_date
{
    float: right;
    width: 200px;
    text-align: center;
}
